
body {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}

.container {
  align-items: center;
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  box-shadow: -3px -2px 5px 0px rgba(138,103,9,0.75) inset, 3px 4px 5px 0px rgba(255, 252, 225, 0.836) inset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 99vh;
  margin: auto;
  width: 95vw;
}

.checklist {
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-between;
  margin-top: 4rem;
  min-width: 24vw;
}

.checkDiv {
  margin: 4%;
}

.buttonsAndResult {
  margin-top: 4rem;
}

.selectionButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 14rem;
  margin-bottom: 4rem;
}

.screen {
  height: 12rem;
  margin-top: 5rem;
  text-align: center;
}

.checkbox {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin: auto;
}

.checkbox > span {
  color: #e0bc6b;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.8);
}

.checkbox > input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: linear-gradient(133deg, rgba(128,104,49,1) 0%, rgba(213,183,115,0.07746848739495793) 38%);
  border: 1px solid #775f28;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: -1px -1px 2px 0px rgb(138 103 9 / 75%), 2px 1px 3px 0px rgb(255 252 225 / 84%);
  height: 25px;
  margin-right: 1rem;
  outline: none;
  transition-duration: 0.2s;
  width: 25px;
}

.checkbox > input:checked {
  border: 1px solid #4d3d1a;
  background: radial-gradient(circle, rgba(246,145,3,1) 0%, rgba(246,51,3,1) 43%, rgba(128,104,49,0.05646008403361347) 100%);
}

.checkbox > input:checked + span::before {
  display: block;
  text-align: center;
  color: #775f28;
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
}

.checkbox > input:active {
  border: 2px solid #f7af06;
}

.selectAll {
  backface-visibility: hidden;
  background: transparent;
  background: linear-gradient(180deg,#fea 0%,#dc8 49%,#bdac69 51%,#dc8 100%);
  border: 1px solid #ba6;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #8f7639;
  display: inline-block;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 1rem 1.4rem;
  position: relative;
  outline: none;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.selectAll:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

#roll {
  backface-visibility: hidden;
  background: transparent;
  background: linear-gradient(180deg,#fea 0%,#dc8 49%,#a95 51%,#dc8 100%);
  border: 1px solid #ba6;
  border-radius: 5px;
  box-shadow: inset 0px 1px 0px rgba(255,255,255,1),0px 1px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  color: #806831;
  display: inline-block;
  font-family: sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  height: 7rem;
  position: relative;
  outline: none;
  padding: 1rem 1.4rem;
  text-align: center;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
  width: 100%;
}

#roll:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

#prompt {
  color: #ecdaa7;
  font-family: sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  text-shadow: 0px -1px 0px rgba(0,0,0,0.8);
}

.smallCard {
  display: none;
}


@media all and (min-device-width: 900px) {
  .container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .checklist {
    height: auto;
    min-width: 16vw;
  }
  
  .checkDiv {
    
  }

  .checkbox > span {
    font-size: 1.2rem;
  }

  .checkbox > input {
    font-size: 20px;
    height: 16px;
    width: 16px;
  }

  .buttonsAndResult {
    height: 50%;
    width: 24%;
  }

  .selectionButtons {
    height: 8rem;
  }

  .selectAll {
    font-size: 1rem;
  }

  #roll {
    font-size: 1.2rem;
    height: 5rem;
  }

  .screen {
    height: auto;
  }

}
